<div class="container">
  <header>
    <div class="title">
      <div class="title__label">PetsComm</div>
    </div>
    <nav class="nav-container">
      <ul class="nav-container__inner">
        <li>
          <a
            [routerLink]="''"
            routerLinkActive="active-elem"
            [routerLinkActiveOptions]="{ exact: true }"
            >Профиль</a
          >
        </li>
        <li>
          <a
            routerLink="news"
            routerLinkActive="active-elem"
            [routerLinkActiveOptions]="{ exact: true }"
            >Новости</a
          >
        </li>
        <li>
          <a
            routerLink="users"
            routerLinkActive="active-elem"
            [routerLinkActiveOptions]="{ exact: true }"
            >Пользователи</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
