<article class="news">
  <app-user-line [user]="(user$|async)"></app-user-line>
  <div class="news__content">
    {{ currentNews.content }}
  </div>
  <div class="news__img"><img src="{{ currentNews.urlNewsPhoto }}" /></div>
  <div class="news__footer">
    <div class="line">
      <button class="like">
        <tui-svg src="tuiIconHeartLarge" class="icon"></tui-svg>
      </button>
      <div class="line__content">
        {{ likesCount }}
      </div>
    </div>
    <div>{{ currentNews.timestamp | date : 'dd.MM.yyyy &nbsp; HH:mm' }}</div>
  </div>
  <tui-accordion-item class="container">
    <div class="line">
      <tui-svg src="tuiIconMessageSquareLarge" class="icon"></tui-svg>
      <div class="line__content"><h3>Комментарии</h3></div>
    </div>
    <ng-template tuiAccordionItemContent>
      <app-comment-list></app-comment-list>
    </ng-template>
  </tui-accordion-item>
</article>
