<section class="header">
  <div class="title">
    <div class="title__label">PetsComm</div>
    <div class="title__userPhoto">
      <tui-avatar
        new
        size="xxl"
        avatarUrl="tuiIconUser"
        class="tui-space_vertical-1"></tui-avatar>
    </div>
  </div>
  <nav class="nav-container">
    <ul class="nav-container__inner">
      <li><a href="/profile">Профиль</a></li>
      <li><a href="/news">Новости</a></li>
      <li><a href="/users">Пользователи</a></li>
    </ul>
  </nav>
</section>
